<p-skeleton
	width="0px"
	height="0px"
></p-skeleton>

<div class="flex flex-col items-center justify-center w-full h-full">
	<div class="p-skeleton flex flex-row w-2/3 h-2/3 portrait:w-full items-center justify-center rounded">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="155"
			height="126.195"
			viewBox="0 0 155 126.195"
		>
			<g
				id="Grupo_28804"
				data-name="Grupo 28804"
				transform="translate(-383 -262.805)"
			>
				<g
					id="Grupo_28803"
					data-name="Grupo 28803"
				>
					<g
						id="Grupo_28802"
						data-name="Grupo 28802"
						transform="translate(47.075 60.676)"
					>
						<g
							id="Grupo_28801"
							data-name="Grupo 28801"
							transform="translate(336 202)"
						>
							<rect
								id="Retângulo_5772"
								data-name="Retângulo 5772"
								width="30"
								height="64"
								transform="translate(114.925 50.324)"
								fill="#FFFFFF"
							/>
							<rect
								id="Retângulo_5778"
								data-name="Retângulo 5778"
								width="30"
								height="43"
								transform="translate(80.925 71.324)"
								fill="#FFFFFF"
							/>
							<rect
								id="Retângulo_5780"
								data-name="Retângulo 5780"
								width="30"
								height="35"
								transform="translate(12.925 79.324)"
								fill="#FFFFFF"
							/>
							<rect
								id="Retângulo_5779"
								data-name="Retângulo 5779"
								width="30"
								height="56"
								transform="translate(46.925 58.324)"
								fill="#FFFFFF"
							/>
							<path
								id="Caminho_6495"
								data-name="Caminho 6495"
								d="M2327.414,751.578l-4.789-6.386,49.392-37.044,33.775,29.026,37.829-35.34,5.449,5.833-43.055,40.223-34.338-29.509Z"
								transform="translate(-2310.119 -684.529)"
								fill="#FFFFFF"
							/>
							<path
								id="Polígono_88"
								data-name="Polígono 88"
								d="M12.225,0,24.449,21.393H0Z"
								transform="matrix(0.799, 0.602, -0.602, 0.799, 135.178, 0.128)"
								fill="#FFFFFF"
							/>
							<rect
								id="Retângulo_5776"
								data-name="Retângulo 5776"
								width="9"
								height="126"
								transform="translate(-0.075 0.324)"
								fill="#FFFFFF"
							/>
							<rect
								id="Retângulo_5777"
								data-name="Retângulo 5777"
								width="8"
								height="149"
								transform="translate(154.925 118.324) rotate(90)"
								fill="#FFFFFF"
							/>
						</g>
					</g>
				</g>
			</g>
		</svg>
	</div>
</div>
