.data-panel {
	height: calc(100vh - 129px);
	max-height: calc(100vh - 129px);
}

@media screen and (max-width: 768px) {
	.data-panel {
		height: calc(100vh - 54px);
		max-height: calc(100vh - 54px);
	}
}

th,
td {
	white-space: nowrap;
	border-width: 0.25px;
	border-style: solid;
	border-color: #e5e7eb;
}

:host ::ng-deep {
	.p-datatable table {
		border-collapse: separate;
	}
}
