<div class="flex flex-col h-full w-full">
	<div class="flex flex-col flex-none">
		<p-tabMenu
			styleClass="whitespace-nowrap"
			[scrollable]="true"
			[model]="dataAnalysisTypesMenuItens"
			[activeItem]="dataAnalysisTypesActiveItem"
		>
			<ng-template
				pTemplate="item"
				let-item
			>
				<a
					pRipple
					class="flex align-items-center gap-2 p-menuitem-link whitespace-nowrap"
				>
					<span class="font-bold">
						{{ item.label }}
					</span>
				</a>
			</ng-template>
		</p-tabMenu>
	</div>

	<div class="flex flex-col flex-grow overflow-auto w-full h-full gap-4 p-4">
		<div class="flex flex-col flex-none gap-4 md:flex-row">
			<div class="flex flex-row">
				<p-button
					type="button"
					icon="pi pi-wallet"
					label="Carteira"
					severity="secondary"
					styleClass="rounded-none rounded-l-lg border-gray-300"
				/>

				<p-dropdown
					class="w-full min-w-[150px]"
					styleClass="p-dropdown-sm rounded-none rounded-r-lg w-full"
					panelStyleClass="max-w-[350px]"
					[options]="portfolioData"
					[(ngModel)]="portfolioDataSelected"
					[loading]="portfolioDataLoading"
					optionLabel="title"
					optionValue="id"
					[disabled]="loading"
					(onChange)="onPorfolioChange()"
				/>
			</div>

			<div class="flex flex-row">
				<p-button
					type="button"
					icon="pi pi-calendar"
					label="Período"
					severity="secondary"
					styleClass="rounded-none rounded-l-lg border-gray-300"
				/>

				<p-dropdown
					class="w-full min-w-[150px]"
					styleClass="p-dropdown-sm rounded-none w-full"
					[(ngModel)]="dataIntervalOptionsSelected"
					[options]="dataIntervalOptions"
					[loading]="generalFilterOptionsLoading"
					[disabled]="loading || dataAnalysisTypesSelected === dataAnalysisTypes[5]"
					(onChange)="onDataIntervalChange()"
				/>

				<p-calendar
					class="w-full min-w-[150px]"
					styleClass="w-full"
					inputStyleClass="rounded-none rounded-r-lg w-full"
					selectionMode="range"
					[readonlyInput]="true"
					[(ngModel)]="dateRange"
					view="month"
					dateFormat="mm/yy"
					[disabled]="loading || dataIntervalOptionsSelected !== dataIntervalOptions[8]"
					(ngModelChange)="onDataIntervalChange($event)"
				/>
			</div>

			<div class="flex flex-row">
				<p-button
					type="button"
					icon="pi pi-calculator"
					label="Agregador"
					severity="secondary"
					styleClass="rounded-none rounded-l-lg border-gray-300"
				/>

				<p-dropdown
					class="w-full min-w-[150px]"
					styleClass="p-dropdown-sm rounded-none rounded-r-lg w-full"
					[options]="aggregatorOptions"
					[(ngModel)]="aggregatorOptionsSelected"
					[disabled]="loading"
					(onChange)="onAggregatorChange()"
				/>
			</div>

			<div class="flex flex-row">
				<p-button
					type="button"
					icon="pi pi-filter"
					label="Filtros"
					severity="secondary"
					styleClass="rounded-none rounded-l-lg border-slate-300"
				/>

				<p-dropdown
					class="w-full min-w-[150px]"
					styleClass="p-dropdown-sm rounded-none rounded-r-lg w-full"
					panelStyleClass="max-w-[250px] md:max-w-[350px]"
					placeholder="Tudo"
					[loading]="generalFilterOptionsLoading"
					[disabled]="loading"
					[options]="generalFilterOptions"
					[(ngModel)]="generalFilterOptionsSelected"
					(onChange)="onGeneralFilterChange()"
					[group]="true"
					[filter]="true"
					filterBy="label"
					[showClear]="true"
				/>
			</div>
		</div>

		<div class="flex flex-grow flex-col">
			@switch (dataAnalysisTypesSelected) { @case (dataAnalysisTypes[0]) {
			<app-resumo
				[loading]="loading"
				[aggregatedDataByDate]="aggregatedDataByDate"
				[aggregatedDataByDateTotals]="aggregatedDataByDateTotals"
				[aggregatorOptionsSelected]="aggregatorOptionsSelected"
			></app-resumo>
			} @case (dataAnalysisTypes[1]) {
			<app-rentabilidade
				[loading]="loading"
				[aggregatedProfitabilityByDate]="aggregatedProfitabilityByDate"
				[aggregatedDataByDate]="aggregatedDataByDate"
				[aggregatorOptionsSelected]="aggregatorOptionsSelected"
			></app-rentabilidade>
			} @case (dataAnalysisTypes[2]) {
			<app-ganho-capital
				[loading]="loading"
				[aggregatedDataByDate]="aggregatedDataByDate"
				[aggregatorOptionsSelected]="aggregatorOptionsSelected"
			></app-ganho-capital>
			} @case (dataAnalysisTypes[3]) {
			<app-movimentacao
				[loading]="loading"
				[aggregatedDataByDate]="aggregatedDataByDate"
				[aggregatorOptionsSelected]="aggregatorOptionsSelected"
			></app-movimentacao>
			} @case (dataAnalysisTypes[4]) {
			<app-patrimonio
				[loading]="loading"
				[aggregatedDataByDate]="aggregatedDataByDate"
				[aggregatorOptionsSelected]="aggregatorOptionsSelected"
			></app-patrimonio>
			} @case (dataAnalysisTypes[5]) {
			<app-distribuicao
				[loading]="loading"
				[aggregatedDataByLabel]="aggregatedDataByLabel"
			></app-distribuicao>
			} }
		</div>
	</div>
</div>
