<p-toast></p-toast>

<ng-template
	#menuItensTemplate
	let-class="class"
>
	<a
		class="flex flex-col items-center justify-center w-full no-underline hover:bg-gray-100"
		[ngClass]="class"
		*ngFor="let item of items"
		[routerLink]="item.routerLink"
		routerLinkActive="bg-gray-100"
	>
		<span class="material-symbols-outlined text-gray-500">
			{{ item.icon }}
		</span>
		<span class="mt-2 text-gray-500 text-xs lg:text-sm">{{ item.label }}</span>
	</a>
</ng-template>

<ng-template
	#menuItemLogoutTemplate
	let-class="class"
>
	<a
		tabindex="-1"
		class="flex flex-col items-center justify-center w-full no-underline hover:bg-gray-100 cursor-pointer"
		[ngClass]="class"
		(click)="logout($event)"
		(keypress)="logout($event)"
	>
		<span class="material-symbols-outlined text-gray-500">logout</span>
		<span class="mt-2 text-gray-500 text-xs lg:text-sm">Sair</span>
	</a>
</ng-template>

<div class="flex flex-col landscape:flex-row h-full w-full">
	<div
		class="hidden landscape:flex flex-col flex-none w-[75px] lg:w-[100px] items-center shadow-md py-4 bg-white border-solid border-0 border-r-2 border-gray-100"
		*ngIf="hasLogin"
	>
		<div class="flex-none mt-6 mb-16 px-3.5 hidden lg:flex">
			<a
				role="link"
				href="/"
				><img
					src="kinvo-icon-logo.svg"
					alt="Ícone Kinvo"
					width="50px"
					height="50px"
			/></a>
		</div>

		<div class="flex flex-grow flex-col w-full overflow-auto">
			<ng-container *ngTemplateOutlet="menuItensTemplate; context: { class: 'min-h-[60px] lg:min-h-[75px] h-[60px] lg:h-[75px]' }"> </ng-container>
		</div>

		<div class="flex flex-col w-full">
			<ng-container *ngTemplateOutlet="menuItemLogoutTemplate; context: { class: 'h-[60px] lg:h-[75px]' }"> </ng-container>
		</div>
	</div>
	<div class="flex-grow overflow-auto h-full w-full bg-gray-50">
		<router-outlet></router-outlet>
	</div>
	<div
		class="flex landscape:hidden flex-row flex-none h-[60px] items-stretch justify-stretch shadow-lg bg-white border-solid border-0 border-t-2 border-gray-100"
		*ngIf="hasLogin"
	>
		<ng-container *ngTemplateOutlet="menuItensTemplate; context: { class: 'h-full' }"> </ng-container>
		<ng-container *ngTemplateOutlet="menuItemLogoutTemplate; context: { class: 'h-full' }"> </ng-container>
	</div>
</div>
