<p-toast></p-toast>

<div class="flex flex-col md:flex-row h-full w-full">
	<div
		class="hidden md:flex flex-col flex-none w-[100px] items-center shadow-md py-4 bg-white border-solid border-0 border-r border-gray-100"
		*ngIf="hasLogin"
	>
		<div class="flex-none mt-6 mb-16 px-3.5 hidden lg:flex">
			<a
				role="link"
				href="/"
				><img
					src="logo-original.svg"
					alt="Ícone Kinvo"
					width="50px"
					height="50px"
			/></a>
		</div>

		<div class="flex flex-grow flex-col w-full overflow-auto">
			<a
				class="flex flex-col items-center justify-center w-full min-h-[75px] h-[75px] no-underline hover:bg-gray-100"
				*ngFor="let item of items"
				[routerLink]="item.routerLink"
				routerLinkActive="bg-gray-100"
			>
				<span class="material-symbols-outlined text-gray-500">
					{{ item.icon }}
				</span>
				<span class="mt-2 text-gray-500 text-sm">{{ item.label }}</span>
			</a>
		</div>

		<div class="flex flex-col w-full">
			<a
				tabindex="-1"
				class="flex flex-col items-center justify-center w-full h-[75px] no-underline hover:bg-gray-100 cursor-pointer"
				(click)="logout($event)"
				(keypress)="logout($event)"
			>
				<span class="material-symbols-outlined text-gray-500">logout</span>
				<span class="mt-2 text-gray-500 text-sm">Sair</span>
			</a>
		</div>
	</div>
	<div class="flex-grow overflow-auto h-full w-full bg-gray-50">
		<router-outlet></router-outlet>
	</div>
	<div
		class="flex md:hidden flex-row flex-none h-[60px] items-stretch justify-stretch shadow-lg bg-white  border-solid border-0 border-t border-gray-100"
		*ngIf="hasLogin"
	>
		<a
			class="flex flex-col items-center justify-center w-full h-full no-underline hover:bg-gray-100"
			*ngFor="let item of items"
			[routerLink]="item.routerLink"
			routerLinkActive="bg-gray-100"
		>
			<span class="material-symbols-outlined text-gray-500">
				{{ item.icon }}
			</span>
			<span class="mt-2 text-gray-500 text-xs">{{ item.label }}</span>
		</a>
		<a
			tabindex="-1"
			class="flex flex-col items-center justify-center w-full h-full no-underline"
			(click)="logout($event)"
			(keypress)="logout($event)"
		>
			<span class="material-symbols-outlined text-gray-500">logout</span>
			<span class="mt-2 text-gray-500 text-xs">Sair</span>
		</a>
	</div>
</div>
