<div class="flex items-center justify-center h-full w-full bg-white lg:bg-gray-100">
	<div class="flex flex-col landscape:flex-row lg:landscape:flex-col bg-white p-12 rounded-lg lg:shadow-md">
		<div class="flex flex-col text-center w-[275px]">
			<img
				src="logo.svg"
				alt="Logo"
				class="w-36 h-36 mx-auto"
			/>
			<img
				src="kinvo-extended-logo.svg"
				alt="Logo"
				class="w-48 h-20 mx-auto"
			/>
			<span style="font-size: 25px; color: #0dcee6">extended</span>
		</div>

		<div class="flex flex-col mt-0 mr-8 lg:landscape:mr-0 portrait:mr-0 lg:landscape:mt-8 portrait:mt-8 w-[275px]">
			<form
				[formGroup]="loginForm"
				(ngSubmit)="onSubmit()"
			>
				<label
					for="email"
					class="block text-900 font-semibold mb-2"
					>E-mail</label
				>
				<input
					pInputText
					id="email"
					type="text"
					class="w-full mb-8"
					placeholder="E-mail"
					formControlName="user"
				/>

				<label
					for="password"
					class="block text-900 font-semibold mb-2"
					>Senha</label
				>
				<p-password
					id="password"
					styleClass="w-full mb-8"
					inputStyleClass="w-full"
					placeholder="Senha"
					[toggleMask]="true"
					[feedback]="false"
					formControlName="password"
				/>

				<div class="flex mb-8">
					<p-checkbox
						id="rememberme"
						[binary]="true"
						styleClass="mr-2"
						formControlName="remember"
					></p-checkbox>
					<label for="rememberme1">Lembrar dados</label>
				</div>

				<button
					pButton
					pRipple
					label="Entrar"
					icon="pi pi-user"
					class="w-full"
					type="submit"
					[loading]="loading"
				></button>
			</form>
		</div>
	</div>
</div>

<div class="fixed bottom-3 right-3">
	<span>Versão: {{ version }}</span>
</div>
