<div class="p-6 flex flex-col gap-6">
	<div class="flex flex-row justify-between">
		<p-selectButton [options]="chartTypes" [(ngModel)]="chartTypeSelected" [multiple]="false" />

		<p-dropdown class="p-dropdown-sm" [styleClass]="'p-dropdown-sm'" [options]="portfolios" [(ngModel)]="portfolioSelected" optionLabel="title" optionValue="id" placeholder="Selecione a Carteira" />
	</div>

	<p-chart [type]="chart" [data]="chartData" [options]="chartOptions" />

	<div class="border rounded mt-4">
		<p-table [value]="capitalGainTable" [scrollable]="true" scrollHeight="360px" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-sm">
			<ng-template pTemplate="header">
				<tr>
					<th>Período</th>
					<th>Valor Investido</th>
					<th>Saldo Inicial</th>
					<th>Aplicações</th>
					<th>Resgates</th>
					<th>Movimentação</th>
					<th>Rendimentos</th>
					<th>Proventos</th>
					<th>Ganho de Capital</th>
					<th>IR</th>
					<th>IOF</th>
					<th>Taxas</th>
					<th>Encargos</th>
					<th>Saldo Fim</th>
					<th>Rentabilidade</th>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-row>
				<tr>
					<td>{{ row.monthlyReferenceDate | date : "MM/YYYY" }}</td>
					<td>{{ row.valueApplied | currency : "BRL" }}</td>
					<td>{{ row.initialEquity | currency : "BRL" }}</td>
					<td>{{ row.applications | currency : "BRL" }}</td>
					<td>{{ row.redemptions | currency : "BRL" }}</td>
					<!-- <td>{{ row.net | currency : "BRL" }}</td> -->
					<td>{{ row.finalEquity - (row.initialEquity + row.capitalGain) | currency : "BRL" }}</td>
					<td>{{ row.returns | currency : "BRL" }}</td>
					<td>{{ row.proceeds | currency : "BRL" }}</td>
					<td>{{ row.capitalGain | currency : "BRL" }}</td>
					<td>{{ 0 | currency : "BRL" }}</td>
					<td>{{ 0 | currency : "BRL" }}</td>
					<td>{{ 0 | currency : "BRL" }}</td>
					<td>{{ 0 | currency : "BRL" }}</td>
					<td>{{ row.finalEquity | currency : "BRL" }}</td>
					<td>{{ row.capitalGain / row.valueApplied | percent : "1.2-2" }}</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
</div>

<!-- <div class="flex flex-column gap-2 px-6 py-2 h-full w-full surface-ground">

	<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" class="p-datatable-xs">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
            </tr>
        </ng-template>
    </p-table>

</div> -->
