// --------------------------------------------------------------------------------
// PRIME NG, PRIME ICONS, TAILWIND CSS, MATERIAL SYMBOLS
// --------------------------------------------------------------------------------

@layer tailwind-base, primeng, tailwind-components, tailwind-utilities;

@import "tailwindcss/base.css" layer(tailwind-base);
// @import "primeng/resources/primeng.css"; // layer(primeng)
@import "primeng/resources/primeng.min.css"; // layer(primeng)
@import "primeicons/primeicons.css"; // layer(primeng)
// @import "primeng/resources/themes/tailwind-light/theme.css"; // layer(primeng)
@import "primeng/resources/themes/aura-light-blue/theme.css"; // layer(primeng)
@import "tailwindcss/components.css" layer(tailwind-components);
@import "tailwindcss/utilities.css" layer(tailwind-utilities);
// @import "tailwindcss/variants.css" layer(tailwind-variants);

@layer tw-base {
	// * {
	// 	@apply transition-all duration-300 ease-in-out;
	// }
}

// @layer primeng {
// 	// primeng component classes here
// }

@layer tw-components {
	// tailwind component classes here
}

@layer tw-utilities {
	// tailwind utitlity classes here
}

// @import "material-symbols/outlined.css";

// .material-symbols-outlined {
// 	font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
// 	font-size: 18px;
// }

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}

// --------------------------------------------------------------------------------
//  SCROLLBAR
// --------------------------------------------------------------------------------

/* Estilizando a scrollbar para navegadores baseados em WebKit (Chrome, Safari) */
::-webkit-scrollbar {
	width: 6px;
	/* Largura da scrollbar */
	height: 6px;
	/* Altura da scrollbar para elementos scrollables horizontalmente */
}

::-webkit-scrollbar-thumb {
	background-color: #BDBDBD;
	/* Cor da barra de rolagem */
	border-radius: 10px;
	/* Cantos arredondados */
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #BDBDBD;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #BDBDBD;
}

::-webkit-scrollbar-track {
	background: transparent;
	/* Cor do fundo da scrollbar */
	border-radius: 10px;
	/* Cantos arredondados */
}

*::-webkit-scrollbar-track:hover {
	background-color: transparent;
}

*::-webkit-scrollbar-track:active {
	background-color: transparent;
}

// /* Para navegadores compatíveis com a pseudo-classe scrollbar (Firefox e futuros navegadores) */
// * {
// 	scrollbar-width: thin;
// 	/* Define a largura da scrollbar como fina */
// 	scrollbar-color: #a0a0a0 transparent;
// 	/* Cor da scrollbar e do fundo, respectivamente */
// }

// --------------------------------------------------------------------------------
//  GENERAL
// --------------------------------------------------------------------------------

$font-family: 'Montserrat', sans-serif !important;
// $font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;

html,
body {
	font-family: $font-family;
	margin: 0;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	font-size: 12px;
	overflow: hidden;
}

body,
body .p-component,
.p-inputtext {
	font-family: $font-family;
}

.router-active {
	background: var(--primary-color-text);
	border-color: var(--surface-border);
	color: var(--primary-color);
}
