<div class="flex flex-col md:flex-row gap-4 p-4">
	<div class="flex flex-row">
		<p-button
			type="button"
			icon="pi pi-wallet"
			label="Carteira"
			severity="secondary"
			styleClass="rounded-none rounded-l-lg border-gray-300"
		/>

		<p-dropdown
			class="p-dropdown-sm w-full min-w-[150px]"
			styleClass="p-dropdown-sm rounded-none rounded-r-lg w-full"
			[options]="portfolioData"
			[(ngModel)]="portfolioDataSelected"
			[loading]="portfolioDataLoading"
			optionLabel="title"
			optionValue="id"
			[disabled]="portfolioDataLoading || dataFullLoading"
			(onChange)="onPorfolioChange()"
		/>
	</div>

	<div class="flex flex-row">
		<p-button
			type="button"
			icon="pi pi-calendar"
			label="Período"
			severity="secondary"
			styleClass="rounded-none rounded-l-lg border-gray-300"
		/>

		<p-dropdown
			class="w-full min-w-[100px]"
			styleClass="p-dropdown-sm rounded-none w-full"
			[(ngModel)]="dataIntervalOptionsSelected"
			[options]="dataIntervalOptions"
			[loading]="dataFullLoading"
			[disabled]="portfolioDataLoading || dataFullLoading || dataAnalysisTypesSelected === dataAnalysisTypes[5]"
			(onChange)="onDataIntervalChange()"
		/>

		<p-calendar
			class="w-full min-w-[100px]"
			styleClass="w-full"
			inputStyleClass="rounded-none rounded-r-lg w-full"
			selectionMode="range"
			[readonlyInput]="true"
			[(ngModel)]="dateRange"
			view="month"
			dateFormat="mm/yy"
			[disabled]="portfolioDataLoading || dataFullLoading || dataIntervalOptionsSelected !== dataIntervalOptions[8]"
			(ngModelChange)="onDataIntervalChange($event)"
		/>
	</div>

	<div class="flex flex-row">
		<p-button
			type="button"
			icon="pi pi-filter"
			label="Agregador"
			severity="secondary"
			styleClass="rounded-none rounded-l-lg border-gray-300"
		/>

		<p-dropdown
			class="w-full min-w-[100px]"
			styleClass="p-dropdown-sm rounded-none rounded-r-lg w-full"
			[options]="aggregatorOptions"
			[(ngModel)]="aggregatorOptionsSelected"
			[loading]="dataFullLoading"
			[disabled]="portfolioDataLoading || dataFullLoading"
			(onChange)="onAggregatorChange()"
		/>
	</div>

	<div class="flex flex-row">
		<p-button
			type="button"
			icon="pi pi-box"
			label="Ativo"
			severity="secondary"
			styleClass="rounded-none rounded-l-lg border-slate-300"
		/>

		<p-dropdown
			class="w-full min-w-[100px]"
			styleClass="p-dropdown-sm rounded-none rounded-r-lg w-full"
			placeholder="Todos"
			[options]="assetsOptions"
			[(ngModel)]="assetsOptionsSelected"
			[loading]="dataFullLoading"
			[disabled]="portfolioDataLoading || dataFullLoading"
			(onChange)="onAssetChange()"
		/>
	</div>
</div>
